.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(var(--main-gray), 0.6);
}

.search-bar input {
  margin: 1em 2em;
  width: 25em;
}

.search-bar i {
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-bar button {
    margin-right: 2em;
}
